<section class="about top" id="welcome">
  <div class="row">
    <div class="col-md-12 col-lg-6 ml-auto order-lg-2 position-relative mb-5 mt-4" data-aos="fade-up">
      <figure class="img-absolute">
        <img src="/img/rooms/room4.jpg" alt="Free Website Template by Templateux" class="img-fluid">
      </figure>
      <img src="/img/rooms/room3.jpg" alt="Image" class="img-fluid rounded">
    </div>
    <div class="col-md-12 col-lg-6 mt-3">
      <div class="heading">
        <h5>TỔNG QUAN VỀ KHÁCH SẠN</h5>
        <h2>Welcome to P4NTHERS Hotel</h2>
        <p>Khách sạn P4nthers là lựa chọn lý tưởng cho khách du lịch và doanh nhân khi đến thành phố. Với vị trí thuận
          tiện ngay trung tâm thành phố, P4nthers là điểm dừng chân lý tưởng cho những người muốn khám phá các điểm tham
          quan nổi tiếng của thành phố hay chỉ đơn giản là tận hưởng không gian thoải mái, ấm cúng của phòng nghỉ.</p>
        <p>Khách sạn của chúng tôi có thiết kế hiện đại và sang trọng với các phòng nghỉ được trang bị đầy đủ tiện nghi
          để
          đảm bảo sự thoải mái và tiện nghi cho khách hàng. Hơn nữa, P4nthers cũng cung cấp các dịch vụ tiện ích như nhà
          hàng sang trọng và thư giãn tại spa để đáp ứng nhu cầu của khách hàng. Với tất cả những tiện ích này, P4nthers
          sẽ mang đến cho khách hàng một trải nghiệm ấn tượng và khó quên trong thời gian lưu trú tại đây.
        </p>
      </div>

    </div>

  </div>

  <section class="room mt-5">
    <div class="heading_top flex1">
      <div class="heading">
        <h5>CÁC LOẠI PHÒNG NỔI BẬT</h5>
        <h2>Rooms $ Suites</h2>
      </div>
      <div class="button">
        <a href="/room"><button class="btn1 mt-5">Xem thêm</button></a>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <div class="room-card">
          <img src="/img/rooms/room4.jpg" class="img-fluid">
          <div class="text">
            <h3>P4nthers 1 Room</h3>
            {{!-- <p> <span>$</span>129 <span>/per night</span> </p> --}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="room-card">
          <img src="/img/rooms/room2.jpg" class="img-fluid">
          <div class="text">
            <h3>P4nthers Vip 1</h3>
            {{!-- <p> <span>$</span>129 <span>/per night</span> </p> --}}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="room-card">
          <img src="/img/rooms/room3.jpg" class="img-fluid">
          <div class="text">
            <h3>P4nthers 2 Room</h3>
            {{!-- <p> <span>$</span>129 <span>/per night</span> </p> --}}
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</section>