<footer>
    <div class="footer-line"></div>
    <div class="footer-wrapper">
        <section class="footer-top">
            <div class="footer-headline">
                <h2>Khoa công nghệ thông tin</h2>
                <div class="location">
                    <i class="fas fa-home"></i>
                    <p>Phòng C004, Số 19 Nguyễn Hữu Thọ, P. Tân Phong, Quận 7, Tp. Hồ Chi Minh.</p>
                </div>
                <div class="phone">
                    <i class="fas fa-phone"></i>
                    <p>(028) 37755046</p>
                </div>
            </div>
        </section>
        <div class="footer-columns">
            <section>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.0238324593797!2d106.69718897457443!3d10.732645160000732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b2747a81a3%3A0x33c1813055acb613!2zxJDhuqFpIGjhu41jIFTDtG4gxJDhu6ljIFRo4bqvbmc!5e0!3m2!1svi!2s!4v1710404077722!5m2!1svi!2s" width="300" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
            <section>
                <h3>Danh mục</h3>
                <ul>
                    <li>
                        <a href="#" title="Home">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#" title="About us">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="#" title="Documentation">Liên hệ</a>
                    </li>
                    <li>
                        <a href="#" title="Release Notes">Hỏi đáp</a>
                    </li>
                    <li>
                        <a href="#" title="Status">Chính sách bảo mật</a>
                    </li>
                </ul>
            </section>
            <section>
                <h3>Đối tác</h3>
                <ul>
                    <li>
                        <a href="#" title="Support">Doanh nghiệp</a>
                    </li>
                    <li>
                        <a href="#" title="Sitemap">Xin việc</a>
                    </li>
                    <li>
                        <a href="#" title="Newsletter">Thông báo</a>
                    </li>
                    <li>
                        <a href="#" title="Help Centre">Hỗ trợ</a>
                    </li>
                    <li>
                        <a href="#" title="Investor">Quy chế hoạt động</a>
                    </li>
                </ul>
            </section>
            
        </div>
        <div class="footer-bottom">
            <small>© Copyright <span id="year"></span> Ton Duc Thang University</small>
            <span class='social-links'>
                <div class="social-media-buttons">
                    <a class="social-media-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-instagram">
                            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                        </svg>
                    </a>
                    <a class="social-media-button">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="24"
                            height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                            <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                        </svg>
                    </a>
                    <a class="social-media-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-youtube">
                            <path
                                d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z">
                            </path>
                            <polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon>
                        </svg>
                    </a>
                    <a class="social-media-button" href="https://www.facebook.com/it.tdtu.edu.vn" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-facebook">
                            <path
                                d="M14,6h3a1,1,0,0,0,1-1V3a1,1,0,0,0-1-1H14A5,5,0,0,0,9,7v3H7a1,1,0,0,0-1,1v2a1,1,0,0,0,1,1H9v7a1,1,0,0,0,1,1h2a1,1,0,0,0,1-1V14h2.22a1,1,0,0,0,1-.76l.5-2a1,1,0,0,0-1-1.24H13V7A1,1,0,0,1,14,6Z">
                            </path>
                        </svg>
                    </a>

                </div>
            </span>
        </div>
    </div>
</footer>
<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>